*{
    padding: 0;
    margin: 0;
}

.slider {
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.slider_photo-container{
    scroll-snap-align: start;
    height: 100%;
}

.slider__photo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shame {
    height: 800px;
}